:root {
    --nav-color: #006AEA;
    --dropdown-text-color: #164a98;
    --color-blanco: #FFFFFF;
    --color-gris-claro: #d2d2d2;
    --color-gris-oscuro: #7c7b75;
    --color-azul-claro: #EFF4F7;
    --color-verde: #4aa147;
    --color-negro: #000000;
    --color-rojo: #d2232a;
    --color-gris-hover: #b8b8b8;
}

html{
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: Helvetica, sans-serif;
}

body #mainContent {
    min-height: auto;
}


p {
    margin: 0;
}
