/* Estilos para el logo */

.logoSicid img {
    height: 80px;
    width: auto;
}

.logoSicid p {
    font-size: 0.9rem;
    color: var(--color-gris-oscuro);
}

/* Estilos para la barra de navegación */

.navBarTogglerTop{
    border-color: var(--color-gris-claro);
}

.menuIcon {
    color: var(--color-blanco);
}

.btnIniciarSesion {
    color: var(--color-gris-oscuro);
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--color-gris-claro);

    &:hover {
        background-color: var(--dropdown-text-color);
        color: var(--color-blanco);
    }
}

.btnHeader {
    border: 1px solid var(--color-gris-claro);

    &:hover {
        background-color: var(--dropdown-text-color);
        color: var(--color-blanco);
    }
}

/* --- Barra de navegación --- */
.navBarTop {
    background-color: var(--nav-color);
    padding: 0;
}

.navBarNavTop {
    display: flex;
    align-items: stretch !important; /* Asegura que los elementos nav ocupen toda la altura de la barra */
    height: 100%;
    margin: 0;
    width: 100%;
}

.navItemTop {
    display: flex;

    &:hover {
        background-color: var(--dropdown-text-color);
    }
}

.navLinkTop {
    padding: 0.75rem 1.2rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;

    &:hover {
        color: var(--color-blanco);
    }
}

/* Estilos para los elementos del dropdown */
.text-wrap-nav {
    white-space: normal !important; /* Permite el salto de línea */
    max-width: 130px;
    text-align: left;
    line-height: 1.5;
}

/* --- Dropdown --- */
.dropdownItemTop {
    color: var(--dropdown-text-color);
    border-left: 5px solid transparent;
    padding: 0.5rem 1rem;

    &:hover {
        color: var(--dropdown-text-color);
        background-color: var(--color-blanco);
        border-left: 5px solid var(--dropdown-text-color);
        font-weight: bold;
    }
}

.dropdownMenuTop {
    background-color: var(--color-blanco);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navLinkTop.show,
.navLinkTop.active {
    font-weight: bold;
    background-color: var(--dropdown-text-color);
}

/* nav size Solo para pantallas pequeñas y medianas */
@media (max-width: 991px) {
    .navBarTop {
        padding-top: 1rem !important; /* el important es para sobreescribir el padding predeterminado de Bootstrap */
        padding-bottom: 1rem !important;
    }

}


main{
    min-height: 70vh;
}

/* Footer */

.imgFooterStandard {
    height: 120px;
    width: auto;
    filter: grayscale(100%);
    opacity: 0.7;
    transition: all 0.3s ease;
}

.imgFooterMain {
    height: 260px;
    width: auto;
    filter: grayscale(100%);
    opacity: 0.9;
}

.imgFooterStandard:hover, .imgFooterMain:hover {
    filter: grayscale(0%);
    opacity: 1;
}