<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sicid - Gestión de eventos administrador </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/pages/gestion-admin.css">
</head>

<body>

    <!-- Card de suscriptor -->
    <div class="container-fluid py-3">
        <article class="suscriptoresRechazadosCard" aria-label="Solicitud de suscriptor">
            <header class="suscriptoresRechazadosHeader">
                <p class="suscriptoresRechazadosNombre">Nombre de Usuario</p>
                <p class="suscriptoresRechazadosFecha">Fecha de solicitud: 22/02/2020</p>
            </header>

            <div class="suscriptoresRechazadosTabla" role="table" aria-label="Datos del suscriptor">
                <div class="suscriptoresRechazadosFila" role="row">
                    <p class="suscriptoresRechazadosEtiqueta" role="cell">Correo Electrónico:</p>
                    <p class="suscriptoresRechazadosValor" role="cell">usuario@gmail.com</p>
                </div>

                <div class="suscriptoresRechazadosFila" role="row">
                    <p class="suscriptoresRechazadosEtiqueta" role="cell">Profesión u Oficio:</p>
                    <p class="suscriptoresRechazadosValor" role="cell">Profesión</p>
                </div>

                <div class="suscriptoresRechazadosFila" role="row">
                    <p class="suscriptoresRechazadosEtiqueta" role="cell">Entidad para la que trabaja o está vinculado:</p>
                    <p class="suscriptoresRechazadosValor" role="cell">Ministerio de Educación Pública</p>
                </div>

                <div class="suscriptoresRechazadosFila" role="row">
                    <p class="suscriptoresRechazadosEtiqueta" role="cell">Razón por la que desea ser notificado:</p>
                    <p class="suscriptoresRechazadosValor" role="cell">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </article>
    </div>
    <!-- fin card de suscriptor -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>